/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #133146;
  --error: #81072e;
}
body {
  background: #94b2c9;
  margin: 0;
  color: var(--primary);
  font-family: "Poppins";
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background: #5a84a3;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav a{
  color: var(--primary);
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 9em;

}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
