/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #133146;
  --error: #811d07;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #94b2c9;
  margin: 0;
  color: var(--primary);
  font-family: "Poppins";
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.page{
  height: 100vh;
  width: 100%;
  padding-bottom: 8em;
  margin-top: 9em;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

/* authentication pages */
form.signup, form.login {
  display: flex;
  flex-direction: column;
  width:60%;
  height: 70vh;
  padding: 20px;
  background: rgb(110, 134, 166);
  border-radius: 4px;
  gap:0.3em;
  margin-bottom: 6em;
}

/* new workout form */
label, input {
  display: block;
  text-align: left;
  font-size: 1.2em;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 78%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}